
<div class="container theme-showcase" role="main">

<nav>
	<ul class="nav nav-justified">
		<!--li><a href="/admin/sets/index">URL Sets</a></li-->
		<li><a href="/admin/urls/">Create Urls</a></li>
		<!--<li><a href="/admin/assign/">Assign Sets To Urls</a></li-->
		<li class="active" ><a href="/admin/config/">API Configuration</a></li>
		<li ><a href="/admin/urlcount/">Url count</a></li>
	</ul>
</nav>
<br>
<nav>
	<ul class="nav nav-pills pull-right">

		<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
		<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
	</ul>
</nav>

</div>

<div style='margin-top:20px'></div>
<div class='container'>
<h3>Edit Configuration</h3>
<br>
<?php 
//echo $this->msg;
?>
<?php if(@$_GET['msg']){ ?>
	<div class="alert alert-success">Configuration Updated Successfully</div>
<?php } ?>
<form role="form" data-toggle="validator" method='post'>

  <div class="form-group ">
    <label for="inputName " class="col-md-3">First Ad Duration (Seconds) :- </label>
    <input class="col-md-4" type="text" id="inputName" name='first_hit' pattern="^([0-9]){1,}$" placeholder='Enter Name Of Set' style='height:40px' value = "<?php echo $this->data['config'][0]['config_value']; ?>" required>
    <div class="help-block with-errors col-md-7 pull-left text-right">* Numerics only</div>
  </div>

  <div style='clear: both'></div>

  <div class="form-group " >
    <label for="inputName2" class="col-md-3" >Duration Between Ads (Seconds) :-</label>
     <input class="col-md-4" type="text" id="inputName" name='ads_view_diff' pattern="^([0-9]){1,}$" placeholder='Enter Name Of Set' style='height:40px' value = "<?php echo $this->data['config'][1]['config_value']; ?>" required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
    <div class="help-block  col-md-7 pull-left text-right">* Numerics only</div>
  </div>
  
  <div style='clear: both'></div>	

  <div class="col-sm-offset-3 col-md-4" style='margin-bottom:20px'>
    <button id='btn-edit' class='btn btn-success ' type='submit' style='margin-left: -15px'> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Update Configuration</button>
  </div>

</form>	
</div>

<?php 

if($_POST){
	header('Location: /admin/config/?msg=true');
} 
 ?>