
<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li  class="active"><a href="/admin/index/">Manage Clients</a></li>
			<li><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li><a href="/admin/segments/">Manage Segments</a></li>
			<li><a href="/admin/country/">Manage Countries</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
			<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
			<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		</ul>
	</nav>

</div>


<div class='container'>
<h3>Add New Client</h3>
<?php echo @$this->msg['messg'];
if(@$this->msg['success'] == 1){
?>
<script>

setTimeout(function(){
	
	window.location='/admin/index/index';
	
	}, 2000);

</script>
<?php
}
?>
<div style='margin-top:40px'></div>
<form role="form" data-toggle="validator" method='post' >	
  <div class="form-group ">
    <label for="inputName " class="col-md-3">First Name</label>
    <input class="col-md-4" type="text" id="inputName" name='first_name' pattern="^([A-z ]){3,}$" placeholder='Enter Your First Name' style='height:40px' required>
    <div class="help-block with-errors col-md-7 pull-left text-right">* Alphabets only</div>
  </div>
  <div style='clear: both'></div>
    <div class="form-group " >
    <label for="inputName2" class="col-md-3" >Last Name</label>
    <input class="col-md-4" type="text" id="inputName2"  name='last_name' pattern="^([A-z ]){3,}$" placeholder='Enter Your Last Name' style='height:40px' required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
    <div class="help-block  col-md-7 pull-left text-right">* Alphabets only</div>
  </div>
     <div style='clear: both'></div>
      <div class="form-group">
    <label for="inputEmail" class="col-md-3">Email</label>
    <input  class="col-md-4" type="Email" id="inputEmail" name='email' pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder='Enter Your Email' style='height:40px' required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
    <div class="help-block col-md-7 pull-left  text-right">Ex: abc@xyz.com</div>
  </div>
       <div style='clear: both'></div>
<div class="form-group">
    <label for="inputEmail" class="col-md-3">Password</label>
    <input class="col-md-4" type="Password" id="inputPassword" name='password' data-minlength="6" placeholder='Enter Your Password' style='height:40px' required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
     <div class="help-block col-md-7 pull-left  text-right">Minimum of 6 characters</div>
 
  </div>
 <div style='clear: both'></div>
<div class="form-group">
    <label for="inputEmail" class="col-md-3">Confirm Password</label>
    <input class="col-md-4" type="Password" id="inputPasswordConfirm" name='confirmpass' placeholder='Re-Enter Your Password' data-match="#inputPassword" data-match-error="Whoops, password doesn't match" style='height:40px'  required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
  </div>


 <div style='clear: both'></div>
<div class="col-sm-offset-3 col-md-4" style='margin-bottom:40px'>
<button class='btn btn-success ' type='submit' style='margin-left: -15px;margin-top: 10px'> <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span> Create Client</button>
</div>
</div>
</form>


