
<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li  class="active"><a href="/admin/index/">Manage Clients</a></li>
			<li><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li><a href="/admin/segments/">Manage Segments</a></li>
			<li><a href="/admin/country/">Manage Countries</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
			<li ><a href="/admin/index/addnewclient/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Client</a></li>
			<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
			<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		</ul>
	</nav>

</div>

<div style='margin-top:20px'></div>
<div class='container'>
<table id="example1" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Serial No.</th>
                <th>Client Name</th>
                <th>Client Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
 
       <!-- <tfoot>
            <tr>
                <th>Client Id</th>
                <th>Client Name</th>
                <th>Client Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>-->
 
        <tbody>
		<?php $i=0 ?>
	<?php foreach($this->data['user'] as $key => $values){$i++; ?>
            <tr>
                <td><?php echo $i; ?></td>
                <td><?php echo $values['first_name'].' '.$values['last_name']; ?> </td>
                <td><?php echo $values['email']; ?></td>
                <td id='status_<?php echo $values['id']; ?>'><?php if($values['status'] == '0'){
			echo 'Deactive';
			}else{
			echo 'Active';	}; ?></td>
                <td>
			<a href='/admin/index/editclient/id/<?php echo $values['id'] ?>'><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a> 
			<a href="javascript:void(0)" id ='status_btn_<?php echo $values['id']; ?>' onclick='deactivate(<?php echo $values['id']; ?>)'>
			
			<?php if($values['status'] == '0'){
				?>
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			<?php
			echo 'Activate';
			}else{
				?>
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			<?php
			echo 'Deactivate';
			}; ?></a> 
			<a href='/admin/index/uploadcsv/id/<?php echo $values['id'] ?>'' ><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload Report</a></td>
            </tr>
	    <?php } ?>
	    
	</tbody>
</table>
	
</div>

<script>
	function deactivate(id) {
		//alert('1111');
		 //alert(id);
		$.ajax({
			cache: false,
			url : '/admin/index/deactivate/id/'+id,
			type: "Get",
			//dataType : {'id':'2'},
                        //data : JSON.stringify(data),
			//context : Form,
			success : function(result){
				if (result == 0) {
					$('#status_'+id).html('Deactive');
					$('#status_btn_'+id).html('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Activate')
				}else{
					$('#status_'+id).html('Active');
					$('#status_btn_'+id).html('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Deactivate');
					
				}
				
				
				
				//alert(result);
				
			}
	})	
	}
		
		

	
	
	
</script>
<script>
$(document).ready(function() {
    $('#example1').DataTable();
} );
</script>
