
<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li  class="active"><a href="/admin/index/">Manage Clients</a></li>
			<li><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li><a href="/admin/segments/">Manage Segments</a></li>
			<li><a href="/admin/country/">Manage Countries</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
			<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
			<li><a href="#" id='<?php echo $this->data['id'];?>' class='upload_report_btn'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New CSV</a></li>
			<li class="active" ><a href="/admin/index/logout/" ><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		</ul>
	</nav>

</div>

<div style='margin-top:20px'></div>
<div class='container'>
 <?php echo $this->msg; ?>   
<h3>Uploaded to Client</h3>
<table id="uploadedcsv_tbl" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Serial No.</th>
                <th>File Name</th>
                <th>File Upload On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <?php $i=0; ?>
            <?php foreach($this->data['csv'] as $key => $values){ $i++;?>
            <tr><td><?php echo $i;?></td>
            <td><?php echo $values['filename'];?></td>
            <td><?php echo $values['created_on'];?></td>
            <td><a href="/users/<?php echo $values['client_id']; ?>/<?php echo $values['filename']; ?>"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a> <a href='/admin/index/deletecsv/id/<?php echo $values['id'];?>' onclick="return confirm('Are you sure You want to delete?');"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> delete</a></td></tr>
            <?php } ?>
        </tbody>
</table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload File</h4>
      </div>
      <form name="upload-form" id="upload-form"  method="post" enctype="multipart/form-data">
      <div class="modal-body">
	<input type="hidden" name="MAX_FILE_SIZE" value="590000000" />
        <input type="hidden" name="Extension" value="csv" />
	<input type='file' name="uploadedfile"  required>
	<input type='hidden' name='Id' id='Id'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" value="Upload File">Upload CSV</button>
      </div>
      
      </form>
    </div>
  </div>
</div>
<script>
	 $(".upload_report_btn").click(function(event) {
        //alert(event.target.id);
	 $('#Id').val(event.target.id);
        $('#myModal').modal('show');
    });
	
    

</script>
<script>
$(document).ready(function() {
    $('#uploadedcsv_tbl').DataTable();
} );
</script>