<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li><a href="/admin/index/">Manage Clients</a></li>
			<li><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li  class="active"><a href="/admin/segments/">Manage Segments</a></li>
			<li><a href="/admin/country/">Manage Countries</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
			<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
			<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		</ul>
	</nav>

</div>

<div class='container'>
<h3>Edit Segment</h3>
<?php echo $this->msg;?>
<div style='margin-top:40px'></div>
<form role="form" data-toggle="validator" method='post' >	
  <div class="form-group ">
    <label for="inputName " class="col-md-3">Segment Name</label>
    <input class="col-md-4" type="text" id="inputName" value='<?php echo $this->data['segment'][0]['category_name']; ?>'  name='segment_name' placeholder='Enter Your Segment Name' style='height:40px' required>
    <div class="help-block with-errors col-md-7 pull-left text-right"></div>
  </div>
    <div style='clear: both;'></div>
  <div class="form-group " style='margin-top: 20px;'>
  <button class="btn btn-success pull-left col-sm-offset-3 col-md-3"><i class="glyphicon glyphicon-list-edit"></i><span class="glyphicon glyphicon-pencil"></span> Edit Segment</button>
    
  </div>
</form>
</div>