<?php
    unset($_SESSION["login_data"]);
    session_destroy();

 ?>
<div class="container">    
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">         
        <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">Log In</div>
            <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="/index/forgot-password">Forgot password?</a></div>
        </div>     
        <div style="padding-top:30px" class="panel-body" >

            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
 
                <form id="loginForm"  role="form" data-toggle="validator" >
                    <!--div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="inputEmail" type="email" class="form-control" name="username" value="" placeholder="Email" />                                      
                        <div class="help-block with-errors"></div>  
                    </div-->
                     <div id="msg" ></div>
                    <div class="form-group">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="email" id="inputEmail"  class="form-control inputbox" placeholder="Email" >
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control inputbox" name="password" placeholder="password">
                    </div>
                    <div style="margin-top:10px" class="form-group">                        
                        <div class="col-sm-12 controls">
                            <a id="btn-login" href="#" class="btn btn-success">Login  </a>
                        </div>
                    </div>

                    <!--div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                    Don't have an account! 
                                <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                    Sign Up Here
                                </a>
                            </div>
                        </div>
                    </div-->    
                </form>     
            </div>                     
        </div>  
    </div>
</div>

<script>
$('#loginForm').validator();
$(document).ready(function(e){
    $("#btn-login").click(function (e){
        loginhere();
    });

    $('.inputbox').on("keypress", function(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
         if (code == 13) {
            e.preventDefault();
            e.stopPropagation();
            loginhere();
         }
    });

});

function loginhere(){

    var email = $("#inputEmail").val();
    var pass = $("#login-password").val();
    var data = {"email":email,"pass":pass};

    $.ajax({
            url: "/index/index",
            type: 'POST',
            data : data,
             success: function(result){
                var obj = jQuery.parseJSON(result);
                $("#msg").html(obj.msg);
                if(obj.location!="/index/index/"){
                    window.location.href = ""+obj.location;
                }
            }
    });
}
</script>
