<?php 
    //echo "<pre>";
    $array = json_encode($this->data);

?>
<form role="form">
  <div class="form-group">
    <label for="email">Enter No of hits</label>
    <input type="text" class="form-control" id="hits">
  </div>

  <button id="sub" type="button" class="btn btn-default">Submit</button>
</form>
<script>
    $(document).ready(function(e){

        $("#sub").click(function(e){
            var hit_no = $("#hits").val();

            for(var i=0; i<=hit_no ; i++){
               
                $.ajax({
                    url: "/rest/testing",
                    type : "POST",
                    dataType : "json",
                    data :{'data':'<?php echo $array; ?>'},
                    success : function (data){

                    },
                    error : function (data){

                    }
                });    
            } 
        });
    });

</script>