
<div class="container theme-showcase" role="main">

<nav>
	<ul class="nav nav-justified">
		<!--li><a href="/admin/sets/index">URL Sets</a></li-->
		<li><a href="/admin/urls/">Create Urls</a></li>
		<!--<li><a href="/admin/assign/">Assign Sets To Urls</a></li-->
		<li><a href="/admin/config/">API Configuration</a></li>
                <li class="active"><a href="/admin/urlcount/">Url count</a></li>
	</ul>
</nav>
<br>
<nav>
	<ul class="nav nav-pills pull-right">

		<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
		<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
	</ul>
</nav>

</div>


<div style='margin-top:20px'></div>
<div class='container'>
<table id="example2" class="display" cellspacing="0" width="100%">
<thead>
    <tr>
        <th>Serial No.</th>
        <th>URL Title</th>
        <th>URL Count</th>
    </tr>
</thead>

 
<tbody>
<?php $i=0 ?>
<?php foreach($this->data['urlcount'] as $key => $values){$i++; ?>
    <tr>
        <td><?php echo $i; ?></td>
        <td><?php echo $values['name']; ?> </td>
        <td><?php echo $values['set_count']; ?></td>
      
    </tr>
<?php } ?>

</tbody>
</table>
<script>
$(document).ready(function() {
    $('#example2').DataTable({
                              "iDisplayLength": 50
    });
} );
</script>	
</div>