<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li><a href="/admin/index/">Manage Clients</a></li>
			<li><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li><a href="/admin/segments/">Manage Segments</a></li>
			<li><a href="/admin/country/">Manage Countries</a></li>
			
		</ul>
	</nav>
	<br>
	<!--nav>
		<ul class="nav nav-pills pull-right">
			<li ><a href="/admin/segments/addnewsegment/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Segment</a></li>
			<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
			<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		</ul>
	</nav-->

</div>
<div style='margin-top:20px'></div>
<div class='container'>

<?php
$overall_data = 0;
 foreach($this->data['daily_reports'] as $key => $values){ 
 	
 		$overall_data = $overall_data + $values['count'];
 	 
 	 } 

$overall_data_us = 0;
 foreach($this->data['daily_reports_us'] as $key => $values){ 
 	
 		$overall_data_us = $overall_data_us + $values['count'];
 	 
 	 } 

 	 ?>


<hr>
<h3>Over All Total Data : <span class="label label-info"><?php echo $overall_data; ?></span></h3>            	
<h3>Over All Total Data United States : <span class="label label-info"><?php echo $overall_data_us; ?></span></h3>            	
<hr>
	<center><h3 style="background-color:#D9EDF7;" >Daily Record Over All</h3></center>
<hr>
<table id="reports_tbl_us" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Serial No.</th>
                <th>Date From </th>
                <th>Date To</th>
                <th>No. Of Records</th>
            </tr>
        </thead>
 
       <!-- <tfoot>
            <tr>
                <th>Client Id</th>
                <th>Client Name</th>
                <th>Client Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>-->
 
        <tbody>
	<?php $i=0; ?>	
	<?php foreach($this->data['daily_reports'] as $key => $values){ $i++;?>
            <tr>
                <td><?php echo $i; ?></td>
                <td><?php echo date_format(date_create($values['date_from']), 'F j, Y'); ?></td>
				<td><?php echo date_format(date_create($values['date_to']), 'F j, Y'); ?></td>
				<td><?php echo $values['count']; ?></td>
			</tr>
	<?php } ?>
	</tbody>
</table> 
<hr>
	<center><h3 style="background-color:#D9EDF7;">Daily Record for United States</h3></center>
<hr>
<table id="reports_tbl" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Serial No.</th>
                <th>Date From </th>
                <th>Date To</th>
                <th>No. Of Records</th>
            </tr>
        </thead>
 
       <!-- <tfoot>
            <tr>
                <th>Client Id</th>
                <th>Client Name</th>
                <th>Client Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>-->
 
        <tbody>
	<?php $i=0; ?>	
	<?php foreach($this->data['daily_reports_us'] as $key => $values){ $i++;?>
            <tr>
                <td><?php echo $i; ?></td>
                <td><?php echo date_format(date_create($values['date_from']), 'F j, Y'); ?></td>
				<td><?php echo date_format(date_create($values['date_to']), 'F j, Y'); ?></td>
				<td><?php echo $values['count']; ?></td>
			</tr>
	<?php } ?>
	</tbody>
</table>

<hr>
	<center><h3 style="background-color:#D9EDF7;">Weekly Record for United States</h3></center>
<hr>
<table id="reports_tbl_us_weekly" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Serial No.</th>
                <th>Date From </th>
                <th>Date To</th>
                <th>No. Of Records</th>
            </tr>
        </thead>
 
       <!-- <tfoot>
            <tr>
                <th>Client Id</th>
                <th>Client Name</th>
                <th>Client Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>-->
 
        <tbody>
	<?php $week_count=0; ?>	
	<?php 
	$flag_date_from = true;
	$total = 0 ;
	$serial_no_week = 0;
	foreach($this->data['daily_reports_us'] as $key => $values){ 
		$week_count++;
		if($flag_date_from){
			$date_from = $values['date_to'];
			$flag_date_from = false;
		}
		$total = $total + $values['count'];
		if($week_count%7 == 0){
			$serial_no_week++;
				$flag_date_from = true;

		?>
            <tr>
                <td><?php echo $serial_no_week; ?></td>
				<td><?php echo date_format(date_create($values['date_to']), 'F j, Y'); ?></td>
				<td><?php echo date_format(date_create($date_from), 'F j, Y'); ?></td>
				<td><?php echo $total; ?></td>
			</tr>
	<?php
				$total = 0 ;
			 } // 7 days if

		} // main for loop ?>
	</tbody>
</table>


<hr>
	<center><h3 style="background-color:#D9EDF7;">Monthly Record for United States</h3></center>
<hr>
<table id="reports_tbl_us_monthly" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Serial No.</th>
                <th>Date From </th>
                <th>Date To</th>
                <th>No. Of Records</th>
            </tr>
        </thead>
 
       <!-- <tfoot>
            <tr>
                <th>Client Id</th>
                <th>Client Name</th>
                <th>Client Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>-->
 
        <tbody>
	<?php $monthly_count=0; ?>	
	<?php 
	$flag_date_from = true;
	$total = 0 ;
	$serial_no_monthly = 0;
	foreach($this->data['daily_reports_us'] as $key => $values){ 
		$monthly_count++;
		if($flag_date_from){
			$date_from = $values['date_to'];
			$flag_date_from = false;
		}
		$total = $total + $values['count'];
		if($monthly_count%30 == 0){
			$serial_no_monthly++;
				$flag_date_from = true;
		?>
            <tr>
                <td><?php echo $serial_no_monthly; ?></td>
				<td><?php echo date_format(date_create($values['date_to']), 'F j, Y'); ?></td>
				<td><?php echo date_format(date_create($date_from), 'F j, Y'); ?></td>
				<td><?php echo $total; ?></td>
			</tr>
	<?php
				$total = 0 ;
			 } // 7 days if

		} // main for loop ?>
	</tbody>
</table>


</div>

<script>
$(document).ready(function() {

    $('#reports_tbl').DataTable();
    $('#reports_tbl_us').DataTable();
    $('#reports_tbl_us_weekly').DataTable();
    $('#reports_tbl_us_monthly').DataTable();

} );
</script>