 <div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li><a href="/admin/index/">Manage Clients</a></li>
			<li><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li><a href="/admin/segments/">Manage Segments</a></li>
			<li><a href="/admin/country/">Manage Countries</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
			    <li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		</ul>
	</nav>

</div>
 <div class='container'>


<div style='margin-top:40px'></div>
<?php echo $this->msg;?>
  <form role="form" data-toggle="validator" method='post' class=" ">
    <div class="form-group">
    <label for="inputEmail" class="col-md-3">Old Password</label>
    <input class="col-md-4" type="Password" name='oldpassword' data-minlength="6" placeholder='Enter Your Old Password' style='height:40px' required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
    <div class="help-block col-md-7 pull-left  text-right"></div>
    </div>
    <div style='clear: both'></div>
    <div class="form-group">
    <label for="inputEmail" class="col-md-3">New Password</label>
    <input class="col-md-4" type="Password" id="inputPassword" name='newpassword' data-minlength="6" placeholder='Enter Your New Password' style='height:40px' required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
    <div class="help-block col-md-7 pull-left  text-right">Minimum of 6 characters</div>
    </div>
    <div style='clear: both'></div>
    <div class="form-group">
    <label for="inputEmail" class="col-md-3">Confirm Password</label>
    <input class="col-md-4" type="Password" id="inputPasswordConfirm" name='confirmpass' placeholder='Re-Enter Your New Password' data-match="#inputPassword" data-match-error="Whoops, password doesn't match" style='height:40px'  required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
    </div>
       <div style='clear: both'></div>
      <div class="form-group">
    <button class="btn btn-success col-sm-offset-3 col-md-3"><span class="glyphicon glyphicon-pencil"></span>  Update</button>
 
  </div>
      
</form>
</div>
