<?php $countries = $this->data["countries"]; ?>
<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<!--li><a href="/admin/sets/index">URL Sets</a></li-->
			<li class="active"><a href="/admin/urls/">Create Urls</a></li>
			<!--li><a href="/admin/assign/">Assign Sets To Urls</a></li-->
			<li><a href="/admin/config/">API Configuration</a></li>
			<li ><a href="/admin/urlcount/">Url count</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
		  	<li><a href="/admin/urls/"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> View All </a></li>
			<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		
		</ul>
	</nav>

</div>


<div class='container'>
<h3>Add New Set</h3>
<?php echo @$this->msg['messg'];
if(@$this->msg['success'] == 1){
?>
<script>
/*
setTimeout(function(){
	
	window.location='/admin/index/index';
	
	}, 2000);
*/
</script>
<?php
}
?>
<div style='margin-top:40px'></div>
<form role="form" data-toggle="validator" method='post' >	
	<div class="form-group ">
		<label for="inputName " class="col-md-3">URL Title :-</label>
		<input class="col-md-4" type="text" id="inputName" name='name' placeholder='Enter Name of The URL' style='height:40px' required>
		<div class="help-block with-errors col-md-7 pull-left text-right"></div>
	</div>
	<div style='clear: both'></div>
	<div class="form-group " >
		<label for="inputName2" class="col-md-3" >URL Address :- </label>
		<input class="col-md-4" type="url" name="url" style="height:40px;"  placeholder='http://www.abc.com'  required>
		<div class="help-block with-errors col-md-7 pull-left  text-right" ></div>
	</div>
	<div style='clear: both'></div>
	<div class="form-group " >
		<label for="inputName2" class="col-md-3" >Set Date</label>
		<input class="col-md-4" type="text"  id = "datepicker" readonly="readonly"  name="set_date" style="height:40px;" required>
		<div class="help-block with-errors col-md-7 pull-left  text-right"></div>
	</div>
	<div style='clear: both'></div>
	<div class="form-group " >
		<label for="inputName2" class="col-md-3" >Set Time</label>
		<div class="bootstrap-timepicker">
			<input  style="height:40px;margin-bottom:5px;" class="col-md-4" id="timepicker5" type="text"  name="set_time" class="input-small" required>
		</div>
		<div class="help-block with-errors col-md-7 pull-left  text-right"></div>
	</div>
	<div style='clear: both'></div>
	<div class="form-group">
		<label for="inputEmail" class="col-md-3">Set Country</label>
		<select class="col-md-4" name = "set_country" required>
		<option value = "">Please Select</option>
		<?php foreach ($countries as $country){ ?>
			<option value="<?php echo $country["country_code"]; ?>" ><?php echo $country["country_name"]; ?></option>
		<?php } ?>	
		</select>
		<div class="help-block with-errors col-md-7 pull-left  text-right"></div>
	</div>
	<div style='clear: both'></div>

	<div class="col-sm-offset-3 col-md-4" style='margin-bottom:40px'>
		<button class='btn btn-success ' type='submit' style='margin-left: -15px;margin-top: 10px'> <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span> Create URL</button>
	</div>
	</div>
</form>


<script>

	$('#timepicker5').timepicker({
		template: false,
	    showInputs: false,
	    minuteStep: 5,
	    showMeridian: false,
	});
	$('#datepicker').datepicker({format: 'yyyy-mm-dd'});

</script>


