
		<!--datatables css --->
		<link rel="stylesheet" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
		<!--datatables js --->
		<script src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>

<div class="client_country_tbl"><table id="client_country_tbl" class="display" cellspacing="0" width="50%"  >
        <thead>
            <tr>
                <th>Serial No.</th>
                <th>Country Name</th>
                <th>Status</th>
            </tr>
        </thead>
    <tbody>
        <?php $i=0; ?>
        <?php foreach($this->data['client'] as $key1=> $values1){
             $client_country_code=explode('|',$values1['disable_countries']);
         ?>      
	<?php foreach($this->data['country'] as $key => $values){ $i++;?>

        <tr>
            <td><?php echo $i; ?></td>
            <td><?php echo $values['country_name']; ?></td>
            <td><input type='checkbox' class='toggle-one' data-toggle='toggle' id="<?php echo $values['country_code']; ?>" onchange='disable_country(this.id,<?php echo $values1['client_id']; ?>)' <?php if(!in_array($values['country_code'],$client_country_code)){?>checked<?php } ?>></td>
        </tr>
        <?php }} ?>
    </tbody>
</table>
</div>
<script>
    function disable_country(id,client_id){
        //alert(id);
	//alert(client_id);
	
	$.ajax({
			cache: false,
			url : '/admin/country/clientcountryupdate',
			type: "Post",
			data: {'country_id':id,'client_id':client_id},
                        //data : JSON.stringify(data),
			//context : Form,
			success : function(result){
				
				//alert(result);
				
			}
	});
    }
    
    $(document).ready(function() {
    /*var table2 = $('#client_country_tbl').DataTable();
     table2.on( 'draw', function () {
        //alert( 'Table redrawn' );
        $('.toggle-one').bootstrapToggle();
    } );*/
    });
</script>
