<div class="container theme-showcase" role="main">

<nav>
	<ul class="nav nav-justified">
    <li><a href="/admin/sets/index">URL Sets</a></li>
    <li class="active"><a href="/admin/urls/">Create URL's</a></li>
    <li><a href="/admin/segments/">Manage Segments</a></li>
    <li><a href="/admin/country/">Manage Countries</a></li>
	</ul>
</nav>
<br>
<nav>
	<ul class="nav nav-pills pull-right">
		<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
		<li class="active" ><a href="/admin/index/logout/"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
	</ul>
</nav>

</div>

<?php if($this->data['url']){ ?>
<div class='container'>
<h3>Edit Set Information</h3>
<?php echo $this->msg;?>
<form role="form" data-toggle="validator" method='post'>

  <div class="form-group ">
    <label for="inputName " class="col-md-3">URL Name</label>
    <input class="col-md-4" type="text" id="inputName" name='name' pattern="^([A-z ]){3,}$" placeholder='Enter Name Of Set' style='height:40px' value = "<?php echo $this->data['url'][0]['name']; ?>" required>
    <div class="help-block with-errors col-md-7 pull-left text-right">* Alphabets only</div>
  </div>

  <div style='clear: both'></div>

  <div class="form-group " >
    <label for="inputName2" class="col-md-3" >URL Address</label>
    <input class="col-md-4" type="url" value = "<?php echo $this->data['url'][0]['url']; ?>" name="url" style="height:40px;" required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
    <div class="help-block  col-md-7 pull-left text-right">* URL only</div>
  </div>
  
  <div style='clear: both'></div>	

  <div class="col-sm-offset-3 col-md-4" style='margin-bottom:20px'>
    <button id='btn-edit' class='btn btn-success ' type='submit' style='margin-left: -15px'> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Update URL</button>
    <a href="/admin/sets/deleteset/id/<?php echo $this->data['url'][0]['id']; ?>" onclick="return confirm('Are you sure You want to delete?');"><button class='btn btn-danger ' type='button' > <span class="glyphicon glyphicon-trash"  aria-hidden="true"></span> Delete URL</button></a>
  </div>

</form>

<?php }else{ ?>
	<div class="container" style='margin-top:10px'>
	 <div class="alert alert-danger" >URL Set Does Not Exist Any More..</div> 
	</div>
	<?php } ?>

</div>

<script>
  $('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
