<?php 
	$sets = $this->data['sets']; 
?>
<div class="container theme-showcase" role="main">

<nav>
	<ul class="nav nav-justified">
		<li><a href="/admin/sets/index">URL Sets</a></li>
		<li><a href="/admin/urls/">Create Urls</a></li>
		<li class="active" ><a href="/admin/assign/">Assign Sets To Urls</a></li>
		<li><a href="/admin/config/">API Configuration</a></li>
	</ul>
</nav>
<br>
<nav>
	<ul class="nav nav-pills pull-right">
		<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
		<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
	</ul>
</nav>

</div>

<div style='margin-top:20px'></div>
<div class='container'>
<style>
	td,th{
		padding:5px;
	}
</style>
<table id="example1" class="display" cellspacing="0" width="100%" border="2">
	<thead>
	    <tr>
	        <th>Serial No.</th>
	        <th>URL Name</th>
	        <th>URL Address</th>
	        <th>Assign Set to URL</th>
	    </tr>
	</thead>

	 
	<tbody>
	<?php $i=0 ?>
	<?php foreach($this->paginator as $key => $values){ $i++; ?>
	    <tr>
	        <td><?php echo $i; ?></td>
	        <td><?php echo $values['name']; ?> </td>
	        <td><?php echo $values['url']; ?></td>
	        <td id = "<?php echo $values['id']; ?>" old="<?php echo $values['set_id']; ?>">
	        <select class = "set">
	        	<?php if ($values['set_id']==""){	?>
		        	<option value ="" >Assign a Set</option>
		        <?php } ?>
		        <?php foreach ($sets as $set){ ?>
		        	<option 
		        		<?php 
		        		if ($values['set_id']==$set["id"]){
		        				echo "selected='selected'";
		        			} 
		        		?>
		        	 value="<?php echo $set["id"]; ?>"><?php echo $set["set_name"]; ?></option>
		        <?php } ?>	
	        </select>
				
			</td>
	    </tr>
	<?php } ?>


	</tbody>
</table>
<?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml'); ?>	
</div>

<script>
$(document).ready(function (e){

		$(".set").on("change",function (e){

			var select_val = $(this).val();
			var url_val = $(this).closest('td').attr('id');
			var set_old_val = $(this).closest('td').attr('old');
			var json_data = {"set_val":select_val,"url_val":url_val,"set_old_val":set_old_val};
			//$(this).closest('td').attr('old',select_val);
			$.ajax({
				url: '/admin/assign/updateurlset',
				type: "POST",
				data : json_data,
				success : function (result){

					location.reload(); ;
				},
				error : function (result){
					console.log(result);
					location.reload(); 
				}
			});

		});
});
	
</script>
<script>
$(document).ready(function() {
    //$('#example1').DataTable();
} );
</script>
