<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li  class="active"><a href="/client/index/">My Account</a></li>
			<li  ><a href="/client/report/">My Report</a></li>
			
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
			<li ><a href="/client/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
			<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		</ul>
	</nav>

</div>
<div class='container'>


<div style='margin-top:40px'></div>
<?php echo $this->msg;?>
  <form role="form" data-toggle="validator" method='post' class=" ">	
  <div class="form-group ">
    <label for="inputName " class="col-md-3">First Name</label>
    <input class="col-md-4" type="text" id="inputName" name='first_name' pattern="^([A-z ]){3,}$" placeholder='Enter Your First Name'  value='<?php echo $this->data['client']['first_name']; ?>' style='height:40px' required>
    <div class="help-block with-errors col-md-7 pull-left text-right">* Alphabets only</div>
  </div>
  <div style='clear: both'></div>
    <div class="form-group " >
    <label for="inputName2" class="col-md-3" >Last Name</label>
    <input class="col-md-4" type="text" id="inputName2"  name='last_name' pattern="^([A-z ]){3,}$" placeholder='Enter Your Last Name'  value='<?php echo $this->data['client']['last_name']; ?>' style='height:40px' required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
    <div class="help-block  col-md-7 pull-left text-right">* Alphabets only</div>
  </div>
     <div style='clear: both'></div>
      <div class="form-group">
    <label for="inputEmail" class="col-md-3">Email</label>
    <input  class="col-md-4" type="Email" id="inputEmail" name='email' pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder='Enter Your Email'  value='<?php echo $this->data['client']['email']; ?>' style='height:40px' disabled   required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
    <div class="help-block col-md-7 pull-left  text-right">Ex: abc@xyz.com</div>
  </div>
    <div style='clear: both'></div>
      <div class="form-group">
    <label for="inputEmail" class="col-md-3">Status</label>
    <input  class="col-md-4" type="Email" id="inputEmail" name='status' placeholder='Enter Your Status' value='<?php if($this->data['client']['status']){ ?>Active<?php }else{ ?>In-active<?php } ?>'style='height:40px' disabled required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
  </div>
       <div style='clear: both'></div>
      <div class="form-group">
    <button class="btn btn-success col-sm-offset-3 col-md-3"><span class="glyphicon glyphicon-pencil"></span>  Update</button>
 
  </div>
      
</form>
</div>