
<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li><a href="/admin/index/">Manage Clients</a></li>
			<li class="active"><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li><a href="/admin/segments/">Manage Segments</a></li>
			<li><a href="/admin/country/">Manage Countries</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
			<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
			<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		</ul>
	</nav>
	
	<form id="multiselectForm" method="post" action = "/admin/csv/csvgenrate">
		<input type="hidden" name="data" value = '<?php echo json_encode($apps_data); ?>' >
		<?php if($this->data["count"]){ ?>
		
        <div id="csv_btn" >
            <button type="submit" id="gen_csv" class="btn btn-success">
                <i class="glyphicon glyphicon-download-alt"></i>
                Download This Report
            </button>
        </div>  
        <div id="csv_btn1" style="display:none;">
            <img src='/ajax-loader.gif'  />
        </div>
		<?php } ?>	
	</form>
</div>
	<br><br><br><br><br><br>
	
	<div style="margin:15px;">
<?php
if(@$this->data["apps_data"]){
			$apps_data =  $this->data["apps_data"];
			$itemcount =  $this->data["Itemcount"];
			$json_data = json_encode($apps_data);
?>			
<?php if ($_SESSION["filter_data"]["selectallapps"]){ // when all applications are selected ?>			
<?php //if (true){ // when all applications are selected ?>			
	<table  class="table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Serial No.</th>
                <th>Device ID</th>
                <th>Application Name</th>
                <th>OS Version</th>
                <th>Platform </th>
                <th>Country Name</th>
                <th>Device Type</th>
                <th>Device Maker</th>
                <th>Device Model</th>
                <!--th>Geo</th-->


                
            </tr>
        </thead>
        <tbody>
	<?php $i=1+$itemcount; foreach($apps_data as $key => $app){ ?>
            <tr> 
                <td><?php echo $i; ?></td>
                <td><?php echo $app['device_id']; ?></td>
                <td><?php echo ($app['app_data']); ?></td>
                <td><?php echo $app['os_ver']; ?></td>
                <td><?php echo $app['device'] ; ?></td>
                <td><?php echo $app['country_code']; ?></td>
                <td><?php echo $app['device_type']; ?></td>
                <td><?php echo $app['maker']; ?></td>
                <td><?php echo $app['model']; ?></td>
                <!--td><?php //echo $app['geo']; ?></td-->

            </tr>
	    <?php $i++; } ?>
	    
	</tbody>
</table>

<?php }else{ ?>
    <table  class="table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Serial No.</th>
                <th>Device ID</th>
                <th>Application Name</th>
                <th>OS Version</th>
                <th>Platform </th>
                <th>Country Name</th>
                <th>Device Type</th>
                <th>Device Maker</th>
                <th>Device Model</th>
                <!--th>Geo</th-->
                <th>Date Installed</th>

                
            </tr>
        </thead>
        <tbody>
    <?php $i=1+$itemcount; foreach($apps_data as $key => $app){ ?>
            <tr> 
                <td><?php echo $i; ?></td>
                <td><?php echo $app['device_id']; ?></td>
                <td><?php echo $app['app_name']; ?></td>
                <td><?php echo $app['os_ver']; ?></td>
                <td><?php echo $app['device'] ; ?></td>
                <td><?php echo $app['country_code']; ?></td>
                <td><?php echo $app['device_type']; ?></td>
                <td><?php echo $app['maker']; ?></td>
                <td><?php echo $app['model']; ?></td>
                <!--td><?php //echo $app['geo']; ?></td-->
                <td><?php echo $app['date_time_installed']; ?></td>  
            </tr>
        <?php $i++; } ?>
        
    </tbody>
</table>


<?php   } ?>

<?php echo $this->paginationControl($apps_data,'Sliding','mypaginationcontrol.phtml'); }else{
		echo '<center>Csv generation has been started.You will get a mail when csv will be generated..</center>';	
			
			}?>
	</div>

<script>
$('form#multiselectForm').submit(function(){
    //$("#csv_btn").css({"display":"none"});
    //$("#csv_btn1").css({"display":"block"});
    
    //$(this).find('input[type=submit]').attr('disabled', 'disabled');
});


//********** Code to genrate CSV file 
    /*$(document).ready(function(e){
        $("#gen_csv").click(function (e){
        	//alert("here");
            $.ajax({
                    url: "/admin/csv/csvgenrate",
                    type: 'POST',
                    dataType: 'json',
                    data : 'data='+'<?php echo $json_data; ?>',
                    //data : '<?php echo $json_data; ?>',
                     success: function(result){
                        
                    }
            });
        });
        //alert("dfe");
    });
*/
</script>
