	<?php 
			
			$data_device_per_day =  $this->data["data_device_per_day"];
			$data_device_per_day_us =  $this->data["data_device_per_day_us"];
			$total_device_count = $this->data["total_device_count"];
			$total_device_count_us=$this->data["total_device_count_us"]; 
	 ?>
	<br>
	<hr>
	<p><b>Total Device Count :</b> <?php echo $total_device_count;?></p>
	<p><b>Total Device Count For United States :</b> <?php echo $total_device_count_us;?></p>
	<hr>
	<h3>Device Count Per Day</h3>
	<hr>
	<div class='col-md-9'>
	<table class='table' >
				<tr style="padding:20px">
					<th >From</th>
					<th >To</th>
					<!--th>Device_count</th-->
					<th>Device_unique_count</th>	
				</tr>	
				<?php    foreach($data_device_per_day as $d_d_p_d){ ?>
				<tr style="padding:20px">
					<td ><?php echo date('Y-m-d H:i:s', $d_d_p_d['from']->sec); ?></td>
					<td ><?php echo date('Y-m-d H:i:s', $d_d_p_d['to']->sec); ?></td>
					<!--td  style="padding:20px"><?php echo $d_d_p_d['device_count']; ?></td-->
					<td ><?php echo $d_d_p_d['device_count']; ?></td>	
				</tr>					
				<?php }?>
			</table>
	<hr>
	<h3>Device Count Per Day For US</h3>
	<hr>
	<table class='table' >
				<tr style="padding:20px">
					<th >From</th>
					<th >To</th>
					<!--th>Device_count</th-->
					<th>Device_unique_count</th>	
				</tr>	
				<?php    foreach($data_device_per_day_us as $d_d_p_d_u){ ?>
				<tr style="padding:20px">
					<td ><?php echo date('Y-m-d H:i:s', $d_d_p_d_u['from']->sec); ?></td>
					<td ><?php echo date('Y-m-d H:i:s', $d_d_p_d_u['to']->sec); ?></td>
					<!--td  style="padding:20px"><?php echo $d_d_p_d['device_count']; ?></td-->
					<td ><?php echo $d_d_p_d_u['device_count']; ?></td>	
				</tr>					
				<?php }?>
			</table>
	</div>
