
<!-- Multiselect Drop down Link http://davidstutz.github.io/bootstrap-multiselect/#getting-started -->
<link rel="stylesheet" href="/css/bootstrap-multiselect.css" type="text/css">
<script type="text/javascript" src="/js/bootstrap-multiselect.js"></script>

<!-- Multiselect Drop down Link http://davidstutz.github.io/bootstrap-multiselect/#getting-started -->

<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li><a href="/admin/index/">Manage Clients</a></li>
			<li  class="active"><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li><a href="/admin/segments/">Manage Segments</a></li>
			<li><a href="/admin/country/">Manage Countries</a></li>
		</ul>
	</nav>
	<br>
	
	<!-- START SUBNAVIGATION FOR RECENTLY SEARCHED -->
	
	<nav>
		
		<ul class="nav nav-pills pull-right">
			<li><a href="/admin/reports/" target="_blank"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> View Reports</a></li>
			<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
			<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		</ul>
	</nav>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#csvgenerate">CSV Generation</a></li>
        <li><a data-toggle="tab" href="#csvsearch">Recently Searched</a></li>
    </ul>


	<br><br><br><br><br><br>
	<?php 
			$countries =  $this->data["countries"];
			//$segments =  $this->data["segments"];
			$apps =@$this->data["apps"];
			$data_device_per_day =  $this->data["data_device_per_day"];
			$data_device_per_day_us =  $this->data["data_device_per_day_us"];
			$total_device_count = $this->data["total_device_count"];
			$total_device_count_us=$this->data["total_device_count_us"]; 
			//$os_ver =  $this->data["os_ver"]; 
			//$model =  $this->data["model"];
			//$device_type =  $this->data["device_type"];
	 ?>
	<div class="tab-content">
		<div id='csvgenerate' class="tab-pane fade in active">
			<form class="form-horizontal" id='multiselectForm' action = "http://<?php echo $_SERVER['HTTP_HOST']; ?>/admin/csv/apprecords" method = "post" >
			<input type='hidden' id='selectallapps' name='selectallapps' value="1">
			<?php /*  <!--div class="form-group" >
			    <label for="inputEmail3" class="col-sm-2 control-label">Segments :</label>
			    <div class="col-sm-10">
				    
				    <select name="segment" class="form-control">
				    <?php 
					foreach ($segments as $segment){
				    ?>
						<option value="<?php echo $segment['id']; ?>"><?php echo $segment['category_name']; ?></option>
					<?php 	}   ?>	
					</select>
					
			    </div>
			  </div-->*/ ?>
		
			    <div class="form-group">
			   <label for="inputEmail3" class="col-sm-2 control-label">Application Names :</label>
			    <div class="col-sm-10">
				 <!--<?php /* <select class="form-control" name="app_name[]" multiple="multiple" id="app_name" >
				    <?php 
					foreach ($apps as $app){
				    ?>
						<option value="<?php echo $app; ?>"><?php echo $app; ?></option>
					<?php 	}   ?>	
				</select>*/
				?>-->
					<input type="text" id="aplication-names"/>
			    </div> 
			   <div class=" col-sm-offset-2 col-sm-10">  <span id='error' style='color:red'></span></div>
			  </div>
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">PlatForm (OS) :</label>
			    <div class="col-sm-10">
				    <select class="form-control"  multiple="multiple"  name="platform[]" id="platform" >
						<option value="Android">Android</option>
						<option value="IPhone">IPhone</option>
		
					</select>
			    </div>
			    <div class=" col-sm-offset-2 col-sm-10">  <span id='error1' style='color:red'></span></div>
			  </div>
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Select Country :</label>
			    <div class="col-sm-10">
				    <select class="form-control"  multiple="multiple"  name="country[]" id="country">
				    <?php 
					foreach ($countries as $county){
				    ?>
						<option value="<?php echo $county['country_name']; ?>"><?php echo $county['country_name']; ?></option>
					<?php 	}   ?>	
					</select>
			    </div>
			    <div class=" col-sm-offset-2 col-sm-10">  <span id='error3' style='color:red'></span></div>
			  </div>
		
			<?php /* <!--div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Select OS Version :</label>
			    <div class="col-sm-10">
				    <select class="form-control"  multiple="multiple"  name="os_ver" id="country" required>
				    <?php 
					foreach ($os_ver as $os_ver){
				    ?>
						<option value="<?php echo $os_ver['os_ver']; ?>"><?php echo $os_ver['os_ver']; ?></option>
					<?php 	}   ?>	
					</select>
			    </div>
			  </div>
		
		
		
			<div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Select Model :</label>
			    <div class="col-sm-10">
				    <select class="form-control"  multiple="multiple"  name="model" id="model" required>
				    <?php 
					foreach ($model as $model){
				    ?>
						<option value="<?php echo $model['model']; ?>"><?php echo $model['model']; ?></option>
					<?php 	}   ?>	
					</select>
			    </div>
			  </div>
		
		
		
		
		
			<div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Select Device Type :</label>
			    <div class="col-sm-10">
				    <select class="form-control"  multiple="multiple"  name="device_type" id="device_type" required>
				    <?php 
					foreach ($device_type as $device_type){
				    ?>
						<option value="<?php echo $device_type['device_type']; ?>"><?php echo $device_type['device_type']; ?></option>
					<?php 	}   ?>	
					</select>
			    </div>
			</div-->*/ ?>
		
		
		
		
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Date From :</label>
				    <div class="col-sm-10">
					    <div class="input-daterange">
						    <div style="width:200px;float:left;" class="input-group">
							    <input type="text" name="date_from"  class="form-control" />
							    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						    </div>
						    <span style="margin:5px;float:left;" ><b> Date To :</b></span>
						    <div style="width:200px;float:left;" class="input-group">
							    <input type="text" name="date_to" class="form-control"  />
							    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						    </div>
						</div>
				    </div>
			    </div>
		
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
				    <div style="width:200px;float:left;" class="input-group">
					  
						<?php if($this->data["status"]=='pending'){?>	
						<div id="csv_btn1" >
							<img src='/ajax-loader.gif'>  
							<p>Old query for csv generation is still in progress.</p>
						</div>
						<?php }else{?>
						  <div id="csv_btn" >
							<button type="submit" id="gen_csv" class="btn btn-success">
								<i class="glyphicon glyphicon-list-alt"></i>
								Click To Generate Report (CSV)
							</button>
						</div>	
						<?php } ?>
					</div>
			    </div>
			  </div>
			</form>
			<div id="loading-image" style='display:none'><img src='/ajax-loader.gif'></div> 
			<div class='device_count_data'></div>
				
		</div>
		<div id='csvsearch' class="tab-pane fade">
			<table id="recent_searched" class="display" cellspacing="0" width="100%" style="table-layout: fixed;">
				<thead>
					<tr>
					      <th>Serial No.</th>
					      <th style='width: 50%;overflow: hidden'>Recently Searched</th>
					      <th>Action</th>
					</tr>
				</thead>
				<tbody>
					<?php $i=0;foreach($this->data['filter_data'] as $key => $values){$i++; ?>
					<tr>
						<td>
						<?php echo $i; ?>
						</td>
						<td style='width: 50%;overflow: hidden'>
						<?php echo $values['filter_data']; ?>
						</td>
						<td>
							<button class='btn btn-success' id="<?php echo $values['id'];?>" onclick='executefilter(this.id)'>Run Again</button>
							<a href='editfilter/id/<?php echo $values['id'];?>'><button class='btn btn-warning' >Edit</button></a>
							<button class='btn btn-danger' id="<?php echo $values['id'];?>" onclick="deletefilter(this.id,this)">Delete</button>
						</td>
					</tr>
					<?php } ?>
				</tbody>
				
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	/****************EXECUTE recently filtered  start*************/
	
	function executefilter(id){
		//alert(id);
		$.ajax({
				    url: "filtereddata",
				    type: "POST",
				    data:{"id":id},
				    //dataType: "json",
				    success: function(result){
					//alert(result.length);
				    var val = result.trim()
					//alert(val);
					//alert(val.length);
				    if(val == 'running') {
					alert("Please wait till old csv generation is completed");
						    }else{
							alert("Csv generation has been started.You will get a mail when csv will be generated..");
						    }
				    
				    
				    },
				    error : function(error){
				    console.log(error);
				    }
					});
	}
	
	/****************EXECUTE recently filtered end*************/
	
	/****************Delete recently filtered start*************/
	
	function deletefilter(id,thisobj){
		//alert(id);
		
		//alert(id);
		
		$.ajax({
				    url: "deletefiltereddata",
				    type: "POST",
				    data:{"id":id},
				    //dataType: "json",
				    success: function(result){
				    
				    
				    },
				    error : function(error){
				    console.log(error);
				    }
					});
		$(thisobj).parent().parent().remove();
	}
	
	
	/****************Delete recently filtered end*************/
	$(document).ready(function() {
	
		$("#gen_csv").click(function(){
	
			/*if($("#app_name").val() == null){
				$("#error").text('Please select some value');
				return false;
			}*/
			if($("#platform").val() == null){
				$("#error1").text('Please select some value');	
				return false;
			}
			if($("#country").val() == null){
				$("#error3").text('Please select some value');	
				return false;
				}
	
		});
	
		/*$("#app_name").change(function(){
	
			if($("#app_name").val() == null){
				$("#error").text('Please select some value');
				return false;
			}else{
				$("#error").text('');
					return false;
				}	
		});*/
	
		$("#platform").change(function(){
	
			if($("#platform").val() == null){
					$("#error1").text('Please select some value');
					return false;
				}else{
					$("#error1").text('');
					return false;
				}	
		});
	
		$("#country").change(function(){
	
			if($("#country").val() == null){
					$("#error3").text('Please select some value');
					return false;
				}else{
				$("#error3").text('');
					return false;
				}	
		});
	
	});


	$(document).ready(function() {
	    $('#country,#platform,#model,#os_ver,#device_type').multiselect({
		buttonWidth: '470px',
		includeSelectAllOption: true,
		enableCaseInsensitiveFiltering: true
	    });



	$('#app_name').multiselect({
	       buttonWidth: '470px',
	       includeSelectAllOption: true,
	       enableCaseInsensitiveFiltering: true,
		       onChange: function(element, checked) {
		       var selected = $('#app_name option:selected');
			       var i;
		       $(selected).each(function(index, selected){
			  
			       i = index;
		       });
		       var unselected = $('#app_name option');
		       var j;
		       $(unselected).each(function(index, unselected){
			   j = index;
		       });
		       if (i == j) {
			       $('#selectallapps').val('1')
		       }else{
			       $('#selectallapps').val('0')
		       }
		}
		
	   });
	  
       }); 
</script>
<script>

$('form#multiselectForm').submit(function(){
	$("#csv_btn").css({"display":"none"});
	$("#csv_btn1").css({"display":"block"});
	
    //$(this).find('input[type=submit]').attr('disabled', 'disabled');
});


$('.input-daterange').datepicker({
	format: 'yyyy-mm-dd',
	//format: 'yyyy-mm-dd 00:00:00',
	//format: 'dd-mm-yyyy 00:00:00',
	endDate : 'End of time'
});

$(document).ready(function (e){
	 
       
        /*$.ajax({
                 url: "/admin/csv/devicecount",
		 beforeSend: function() {
              	$("#loading-image").show();
           	},
                 success: function(result){
			 $("#loading-image").hide();
			 $('.device_count_data')
			    .append($("<div></div>")
			    .html(result));	
			}
                    
        });*/
 


	 $("#btn-login").click(function (e){
        var email = $("#inputEmail").val();
        var pass = $("#login-password").val();
        var data = {"email":email,"pass":pass};

        $.ajax({
                url: "/index/index",
                type: 'POST',
                data : data,
                 success: function(result){
                    var obj = jQuery.parseJSON(result);
                    $("#msg").html(obj.msg);
                    if(obj.location!="/index/index/index"){
                        window.location.href = ""+obj.location;
                    }
                }
        });
    });

	$('#aplication-names').autocomplete({
	    source: function( request, response ) {
	    	$.ajax({
		            url: "applicationdata",
		            type: "POST",
                            data:{"app_nam":request.term},
		            dataType: "json",
		            success: function(result){
	    	            response(result);
	    	            
		            },
		            error : function(error){
	                    console.log(error);
		            }
				});
	    },
	    multiselect: function(event,ui){
	         console.log(ui);
	    },
	    focus: function() {
	          return false;
	    }
    });
	  var table = $('#recent_searched').DataTable({
                    "responsive": true
		  
                });
    table.on( 'draw', function () {
        //alert( 'Table redrawn' );
        //$('.toggle-one').bootstrapToggle();
    } );
});
</script>
