<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li  class="active"><a href="/admin/sets/index">URL Sets</a></li>
			<li><a href="/admin/urls/">Create Urls</a></li>
			<li><a href="/admin/assign/">Assign Sets To Urls</a></li>
			<li><a href="/admin/config/">API Configuration</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
			<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
			<li class="active" ><a href="/admin/index/logout/"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		</ul>
	</nav>

</div>

<?php if($this->data['set']){ ?>
<?php $countries = $this->data["countries"]; ?>
<div class='container'>
<h3>Edit Set Information</h3>
<br>
<?php echo $this->msg;?>
<form role="form" data-toggle="validator" method='post' class=" ">
  <div class="form-group ">
    <label for="inputName " class="col-md-3">Set Name</label>
    <input class="col-md-4" type="text" id="inputName" name='set_name'  placeholder='Enter Name Of Set' style='height:40px' value = "<?php echo $this->data['set'][0]['set_name']; ?>" required>
    <div class="help-block with-errors col-md-7 pull-left text-right"></div>
  </div>

  <div style='clear: both'></div>

  <div class="form-group " >
    <label for="inputName2" class="col-md-3" >Set Date</label>
    <input class="col-md-4" type="text" readonly="readonly"  value = "<?php echo $this->data['set'][0]['set_date']; ?>" id = "datepicker" name="set_date" style="height:40px;" required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
    <div class="help-block  col-md-7 pull-left text-right">* Date only</div>
  </div>

  <div style='clear: both'></div>

  <div class="form-group">
    <label for="inputEmail" class="col-md-3">Set Country</label>
    <select class="col-md-4" name = "set_country" >

      <?php foreach ($countries as $country){ ?>
      <option
        <?php if($country["country_code"]==$this->data['set'][0]['set_country'])
        { echo 'selected="selected"'; } ?>
       value="<?php echo $country["country_code"]; ?>" ><?php echo $country["country_name"]; ?></option>
      <?php } ?>  
    </select>

  </div>
  
  <div style='clear: both'></div>	

  <div class="col-sm-offset-3 col-md-4" style='margin-bottom:20px'>
  <button id='btn-edit' class='btn btn-success ' type='submit' style='margin-left: -15px'> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Update Set</button>
  <a href="/admin/sets/deleteset/id/<?php echo $this->data['set'][0]['id']; ?>" onclick="return confirm('Are you sure You want to delete?');"><button class='btn btn-danger ' type='button' > <span class="glyphicon glyphicon-trash"  aria-hidden="true"></span> Delete Set</button></a>
  </div>

</form>

<?php }else{ ?>
	<div class="container" style='margin-top:10px'>
	 <div class="alert alert-danger" >URL Set Does Not Exist Any More..</div> 
	</div>
	<?php } ?>

</div>

<script>
  $('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
