
<div class="container theme-showcase" role="main">

<nav>
	<ul class="nav nav-justified">
		<li  class="active"><a href="/admin/sets/index">URL Sets</a></li>
		<li><a href="/admin/urls/">Create Urls</a></li>
		<li><a href="/admin/assign/">Assign Sets To Urls</a></li>
		<li><a href="/admin/config/">API Configuration</a></li>
	</ul>
</nav>
<br>
<nav>
	<ul class="nav nav-pills pull-right">
		<li ><a href="/admin/sets/addnewset"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Set</a></li>
		<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
		<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
	</ul>
</nav>

</div>

<div style='margin-top:20px'></div>
<div class='container'>
<table id="example1" class="display" cellspacing="0" width="100%">
<thead>
    <tr>
        <th>Serial No.</th>
        <th>Set Name</th>
        <th>Set Country</th>
        <th>Set Date</th>
        <th>Action</th>
    </tr>
</thead>

 
<tbody>
<?php $i=0 ?>
<?php foreach($this->data['sets'] as $key => $values){$i++; ?>
    <tr>
        <td><?php echo $i; ?></td>
        <td><?php echo $values['set_name']; ?> </td>
        <td><?php echo $values['country_name']; ?></td>
        <td><?php echo $values['set_date']; ?></td>
        <td>
			<a href='/admin/sets/editset/id/<?php echo $values['id'] ?>'>
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			 Edit
			</a> 
			<a href="/admin/sets/deleteset/id/<?php echo $values['id']; ?>" onclick="return confirm('Are you sure You want to delete?');">	
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				Delete
			</a>
		</td>
    </tr>
<?php } ?>

</tbody>
</table>
	
</div>

<script>
	function deactivate(id) {
		//alert('1111');
		 //alert(id);
		$.ajax({
			cache: false,
			url : '/admin/index/deactivate/id/'+id,
			type: "Get",
			//dataType : {'id':'2'},
                        //data : JSON.stringify(data),
			//context : Form,
			success : function(result){
				if (result == 0) {
					$('#status_'+id).html('Deactive');
					$('#status_btn_'+id).html('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Activate')
				}else{
					$('#status_'+id).html('Active');
					$('#status_btn_'+id).html('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Deactivate');
					
				}
				
				
				
				//alert(result);
				
			}
	})	
	}
		
		

	
	
	
</script>
<script>
$(document).ready(function() {
    $('#example1').DataTable();
} );
</script>
