
<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li  class="active"><a href="/admin/index/">Manage Clients</a></li>
			<li><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li><a href="/admin/segments/">Manage Segments</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
	
			<li class="active" ><a href="/admin/logout/">LogOut</a></li>
		</ul>
	</nav>

</div>


<div class='container'>
<h3>Add New Client</h3>
<?php echo $this->msg;?>
<form  method='post'>

<div class='col-md-6 form-group'>
<div class="help-block with-errors"></div>
<table class='table '>
  <tr><td>First Name</td><td><input type='text' class='form-control' name='first_name' placeholder='Enter Your First Name' required></td></tr>  
  <tr><td>Last Name</td><td><input type='text'  class='form-control' name='last_name' placeholder='Enter Your Last Name' required></td></tr>
  <tr><td>Email</td><td><input type='text'  class='form-control' name='email' placeholder='Enter Your Email'  required></td></tr>
  <tr><td>Password</td><td><input type='password'  class='form-control' name='password' placeholder='Enter Your Password' required> </td></tr>
  <tr><td>Confirm Password</td><td><input type='password' class='form-control' name='confirmpass'placeholder='Renter Your Password' required></td></tr>
</table>
<button class='btn btn-success ' type='submit'> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Client</button>
</div>
</form>
</div>

