
<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li  ><a href="/admin/index/">Manage Clients</a></li>
			<li class="active" ><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li><a href="/admin/segments/">Manage Segments</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
			<li class="active" ><a href="/admin/logout/">LogOut</a></li>
		</ul>
	</nav>
	<br><br><br><br><br><br>
	
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">List Of Segments :</label>
	    <div class="col-sm-10">
		    <select class="form-control">
				<option>5</option>
				<option>5</option>
				<option>5</option>
				<option>5</option>
			</select>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Date From :</label>
		    <div class="col-sm-10">
			    <div class="input-daterange">
				    <div style="width:200px;float:left;" class="input-group">
					    <input type="text"  class="form-control"  />
					    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				    </div>
				    <span style="margin:5px;float:left;" ><b> Date To :</b></span>
				    <div style="width:200px;float:left;" class="input-group">
					    <input type="text"  class="form-control"  />
					    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				    </div>
				</div>
		    </div>
	    </div>
	    <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Application Names :</label>
	    <div class="col-sm-10">
		    <select class="form-control">

			</select>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">PlatForm (OS) :</label>
	    <div class="col-sm-10">
		    <select class="form-control">
				<option value="0">Android</option>
				<option value="1">IPhone</option>

			</select>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Select Country :</label>
	    <div class="col-sm-10">
		    <select class="form-control">

			</select>
	    </div>
	  </div>

	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
		    <div style="width:200px;float:left;" class="input-group">

				<button type="submit" class="btn btn-success">
					<i class="glyphicon glyphicon-list-alt"></i>
					Click To Genrate Report (CSV)
				</button>
			</div>
	    </div>
	  </div>
	</form>
</div>
<script>
	$('.input-daterange').datepicker({
		format: 'yyyy-mm-dd',
		endDate : 'End of time'
	});
</script>