<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li  class="active"><a href="/admin/index/">Manage Clients</a></li>
			<li><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li><a href="/admin/segments/">Manage Segments</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
	
			<li class="active" ><a href="/admin/logout/">LogOut</a></li>
		</ul>
	</nav>

</div>


<div class='container'>
<h3>Edit Client Information</h3>
<form method='post' id='editclient'>
<?php echo $this->msg;?>

<div class='col-md-6'>
<table class='table '>
  <tr><td>First Name</td><td><input type='text' class='form-control' name='first_name' value='<?php echo $this->data['user'][0]['first_name']; ?>' placeholder='Enter Your First Name' required='true'></td></tr>  
  <tr><td>Last Name</td><td><input type='text' class='form-control' name='last_name' value='<?php echo $this->data['user'][0]['last_name']; ?>' placeholder='Enter Your Last Name' required='true'></td></tr>
  <tr><td>Email</td><td><input type='text' class='form-control' name='email' value='<?php echo $this->data['user'][0]['email']; ?>' placeholder='Enter Your Email' required='true'></td></tr>
  <tr><td>New Password</td><td><input type='password' class='form-control' name='password' placeholder='Enter Your New Password' ><span id='error'></span></td></tr>
  <tr><td>New Confirm Password</td><td><input type='password' class='form-control'   name='confirmpass'placeholder='Renter Your New Password' ></td></tr>
   <tr><td>Status</td><td><select class='form-control' name='status'><option value='1' <?php if($this->data['user'][0]['status'] == '1'){ ?> selected <?php } ?>>Active</option><option value='0' <?php if($this->data['user'][0]['status'] == '0'){ ?> selected <?php } ?>>Deactive</option></select></td></tr> 
</table>
<button id='btn-edit' class='btn btn-success ' type='submit'> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Client</button>
<a href='/admin/deleteclient/id/<?php echo $this->data['user'][0]['id']; ?>' onclick="return confirm('Are you sure You want to delete?');"><button class='btn btn-warning ' type='button' > <span class="glyphicon glyphicon-trash"  aria-hidden="true"></span> Delete Client</button></a>
</div>
</form>
</div>
<script>
   // $('#editclient').validator();
    
        //alert("dfe");
   
</script>