
<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li  class="active"><a href="/admin/index/">Manage Clients</a></li>
			<li><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li><a href="/admin/segments/">Manage Segments</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
			<li class="active" ><a href="/admin/addnewclient/">Add New Client</a></li>
			<li class="active" ><a href="/admin/logout/">LogOut</a></li>
		</ul>
	</nav>

</div>

<div class='seperator'></div>
<div class='container'>
<table id="example1" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Client Id</th>
                <th>Client Name</th>
                <th>Client Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
 
       <!-- <tfoot>
            <tr>
                <th>Client Id</th>
                <th>Client Name</th>
                <th>Client Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>-->
 
        <tbody>
	<?php foreach($this->data['user'] as $key => $values){ ?>
            <tr>
                <td><?php echo $values['id']; ?></td>
                <td><?php echo $values['first_name'].' '.$values['last_name']; ?> </td>
                <td><?php echo $values['email']; ?></td>
                <td id='status_<?php echo $values['id']; ?>'><?php if($values['status'] == '0'){
			echo 'Deactive';
			}else{
			echo 'Active';	}; ?></td>
                <td>
			<a href='/admin/editclient/id/<?php echo $values['id'] ?>'>Edit</a> /
			<a href="javascript:void(0)" id ='status_btn_<?php echo $values['id']; ?>' onclick='deactivate(<?php echo $values['id']; ?>)'><?php if($values['status'] == '0'){
			echo 'Activate';
			}else{
			echo 'Deactivete';
			}; ?></a> /
			<a href='#'>Upload Report</a></td>
            </tr>
	    <?php } ?>
	    
	</tbody>
</table>
	
</div>
<script>
	function deactivate(id) {
		//alert('1111');
		 //alert(id);
		$.ajax({
			cache: false,
			url : '/admin/deactivate/id/'+id,
			type: "Get",
			//dataType : {'id':'2'},
                        //data : JSON.stringify(data),
			//context : Form,
			success : function(result){
				if (result == 0) {
					$('#status_'+id).html('Deactive');
					$('#status_btn_'+id).html('Activate')
				}else{
					$('#status_'+id).html('Active');
					$('#status_btn_'+id).html('Deactivate');
					
				}
				
				
				
				//alert(result);
				
			}
	})	
	}
		
		

	
	
	
</script>
<script>
$(document).ready(function() {
    $('#example1').DataTable();
} );
</script>