
<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li  ><a href="/admin/index/">Manage Clients</a></li>
			<li   ><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li class="active"><a href="/admin/segments/">Manage Segments</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
			<li class="active" ><a href="/admin/logout/">LogOut</a></li>
		</ul>
	</nav>

</div>